<div class="contact-container container-block">
    {% if sidebar.email %}
      <a href="mailto:{{ sidebar.email }}"><i class="fas fa-envelope"></i></a>
    {% endif %}

    {% if sidebar.scholar %}
      <a href="https://scholar.google.com/citations?user=z2BkS4UAAAAJ&hl=en" target="_blank"><i class="ai ai-google-scholar-square"></i></a>
    {% endif %}

    {% if sidebar.linkedin %}
      <a href="https://linkedin.com/in/{{ sidebar.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a>
    {% endif %}

    {% if sidebar.github %}
      <a href="http://github.com/{{ sidebar.github }}" target="_blank"><i class="fab fa-github"></i></a>
    {% endif %}

    {% if sidebar.pdf %}
      <a href="{{ sidebar.pdf }}" target="_blank"><i class="fas fa-file-pdf"></i></a>
    {% endif %}

</div><!--//contact-container-->
